In [1]:
import pandas as pd

In [76]:
sueldos=pd.read_csv('argentina_sueldos.csv',sep=';')

In [88]:
sueldos.head(20)

,Me identifico,Tengo,Años de experiencia,Años en la empresa actual,Años en el puesto actual,¿Gente a cargo?,Nivel de estudios alcanzado,Estado,¿Contribuís a proyectos open source?,¿Programás como hobbie?,...,Tipo de contrato,Salario mensual BRUTO (en tu moneda local),Salario mensual NETO (en tu moneda local),¿Qué tan conforme estás con tu sueldo?,Cómo creés que está tu sueldo con respecto al último semestre,Orientación sexual,Cantidad de empleados,¿La recomendás como un buen lugar para trabajar?,¿Cómo calificás las políticas de diversidad e inclusión?,¿A cuántos kilómetros de tu casa queda la oficina?
0,Otros,17,0,0,0,0,Primario,Incompleto,No,Sí,...,Tercerizado (trabajo a través de consultora o ...,1,1.0,1,1,NaN,101-200,1.0,1.0,-1.0
1,Hombre,36,16,10,4,3,Universitario,Completado,Sí,Sí,...,Full-Time,40000,37000.0,2,1,NaN,1-10,5.0,5.0,10.0
2,Hombre,45,17,1,1,0,Universitario,Incompleto,No,Sí,...,Full-Time,67000,50000.0,1,1,NaN,101-200,1.0,5.0,2.0
3,Hombre,37,12,6,6,0,Universitario,Completado,No,Sí,...,Full-Time,50000,40000.0,1,1,NaN,501-1000,4.0,1.0,3.0
4,Hombre,33,12,6,2,0,Universitario,Completado,No,Sí,...,Full-Time,67700,53000.0,3,2,NaN,101-200,9.0,9.0,9.0
5,Hombre,23,4,2,2,0,Secundario,En curso,No,Sí,...,Full-Time,27000,20500.0,2,2,NaN,1-10,4.0,4.0,4.0
6,Hombre,33,13,0,0,0,Universitario,Incompleto,Sí,Sí,...,Full-Time,147150,99839.0,4,3,NaN,2001-5000,8.0,6.0,6.0
7,Hombre,40,15,1,1,0,Posgrado,Incompleto,No,No,...,Full-Time,100000,68000.0,3,3,NaN,201-500,10.0,10.0,2.0
8,Hombre,24,2,1,1,0,Terciario,En curso,No,No,...,Tercerizado (trabajo a través de consultora o ...,21000,19000.0,2,1,NaN,1001-2000,1.0,1.0,5.0
9,Hombre,37,20,1,1,0,Universitario,Incompleto,No,Sí,...,Full-Time,54000,54000.0,1,2,NaN,501-1000,8.0,8.0,50.0
10,Hombre,29,9,0,3,0,Universitario,Completado,Sí,Sí,...,Full-Time,123000,90000.0,3,4,NaN,201-500,10.0,10.0,20.0
11,Hombre,28,10,1,1,3,Universitario,Incompleto,No,Sí,...,Full-Time,83000,60000.0,3,2,NaN,2001-5000,10.0,10.0,25.0
12,Hombre,29,8,1,1,0,Universitario,Completado,Sí,Sí,...,Full-Time,135184,81501.0,4,4,NaN,101-200,8.0,8.0,116.0
13,Hombre,35,16,2,2,11,Universitario,Completado,Sí,Sí,...,Full-Time,165000,101000.0,4,4,NaN,11-50,10.0,8.0,4.0
14,Hombre,32,8,0,1,0,Terciario,Incompleto,No,No,...,Tercerizado (trabajo a través de consultora o ...,54000,43150.0,2,2,NaN,501-1000,6.0,5.0,3.0
15,Hombre,29,8,1,1,2,Universitario,Incompleto,No,Sí,...,Remoto (empresa de otro país),332200,225500.0,4,4,NaN,1-10,10.0,3.0,-1.0
16,Hombre,29,8,1,5,0,Universitario,Incompleto,Sí,Sí,...,Remoto (empresa de otro país),330000,330000.0,4,4,NaN,11-50,9.0,5.0,-1.0
17,Hombre,28,10,0,0,0,Universitario,Incompleto,No,Sí,...,Remoto (empresa de otro país),216000,NaN,4,4,NaN,101-200,7.0,4.0,-1.0
18,Hombre,41,10,6,6,0,Universitario,Incompleto,No,No,...,Full-Time,66000,49500.0,3,2,NaN,101-200,6.0,8.0,-1.0
19,Hombre,27,2,0,0,0,Terciario,En curso,No,Sí,...,Freelance,37600,37600.0,3,3,NaN,1-10,8.0,5.0,-1.0

In [24]:
sueldos.describe()

,Tengo,Años de experiencia,Años en la empresa actual,Años en el puesto actual,¿Gente a cargo?,Salario mensual BRUTO (en tu moneda local),Salario mensual NETO (en tu moneda local),¿Qué tan conforme estás con tu sueldo?,Cómo creés que está tu sueldo con respecto al último semestre,¿La recomendás como un buen lugar para trabajar?,¿Cómo calificás las políticas de diversidad e inclusión?,¿A cuántos kilómetros de tu casa queda la oficina?
count,2751.000000,2751.000000,2751.000000,2751.000000,2751.000000,2.751000e+03,2.630000e+03,2751.000000,2751.000000,2748.000000,2748.000000,2748.000000
mean,32.818248,9.468557,15.259178,3.272265,1.792439,9.402921e+04,7.073692e+04,2.573610,2.323155,7.006186,7.369360,14.318413
std,21.853056,7.488440,610.058026,5.430121,6.143984,5.372581e+05,3.387270e+05,0.844414,0.922391,2.147025,2.402379,27.502168
min,16.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,1.000000,-1.000000
25%,27.000000,4.000000,1.000000,1.000000,0.000000,3.500000e+04,3.000000e+04,2.000000,2.000000,6.000000,6.000000,4.000000
50%,31.000000,8.000000,2.000000,2.000000,0.000000,5.300000e+04,4.200000e+04,3.000000,2.000000,7.000000,8.000000,8.000000
75%,37.000000,13.000000,5.000000,4.000000,1.000000,7.541550e+04,5.796500e+04,3.000000,3.000000,8.000000,9.000000,20.000000
max,1111.000000,135.000000,32000.000000,135.000000,100.000000,2.187116e+07,8.890169e+06,4.000000,4.000000,10.000000,10.000000,675.000000

In [27]:
sueldos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2751 entries, 0 to 2750
Data columns (total 24 columns):
Me identifico                                                    2751 non-null object
Tengo                                                            2751 non-null int64
Años de experiencia                                              2751 non-null int64
Años en la empresa actual                                        2751 non-null int64
Años en el puesto actual                                         2751 non-null int64
¿Gente a cargo?                                                  2751 non-null int64
Nivel de estudios alcanzado                                      2751 non-null object
Estado                                                           2751 non-null object
¿Contribuís a proyectos open source?                             2751 non-null object
¿Programás como hobbie?                                          2751 non-null object
Lenguajes de programación                                        2230 non-null object
Bases de datos                                                   2038 non-null object
¿Qué SO usás en tu laptop/PC para trabajar?                      2751 non-null object
¿Y en tu celular?                                                2751 non-null object
Tipo de contrato                                                 2751 non-null object
Salario mensual BRUTO (en tu moneda local)                       2751 non-null int64
Salario mensual NETO (en tu moneda local)                        2630 non-null float64
¿Qué tan conforme estás con tu sueldo?                           2751 non-null int64
Cómo creés que está tu sueldo con respecto al último semestre    2751 non-null int64
Orientación sexual                                               2648 non-null object
Cantidad de empleados                                            2748 non-null object
¿La recomendás como un buen lugar para trabajar?                 2748 non-null float64
¿Cómo calificás las políticas de diversidad e inclusión?         2748 non-null float64
¿A cuántos kilómetros de tu casa queda la oficina?               2748 non-null float64
dtypes: float64(4), int64(8), object(12)
memory usage: 515.9+ KB

# Tomar una variable categorica y analizarla

Vamos a tomar una variable, hacer un dataframe que sea la conversión en one-hot y luego vamos a filtrar las columnas que tengan un mínimo de entradas.

In [31]:
sex_or=sueldos["Orientación sexual"].str.get_dummies()
sex_or.head()

,Asexual,Bisexual o queer,Contra Hegemónico,Cualquier esta preg para una encuesta salarial,De todo...,Ente,Es irrelevante para la encuesta,Heterosexual,Homosexual,Humane,...,Ya dejense de joder,demasiadas,lesbiana,ni idea,no les interesa,no te importa,paidófilo,papa,política,que te importa
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
sex_or.sum(axis=0)

Asexual                                              1
Bisexual o queer                                    91
Contra Hegemónico                                    1
Cualquier esta preg para una encuesta salarial       1
De todo...                                           1
Ente                                                 1
Es irrelevante para la encuesta                      1
Heterosexual                                      2435
Homosexual                                          88
Humane                                               1
Irrelevante para esta encuesta                       1
Jajaja khe es esta pregunta men                      1
Misoginia                                            1
N                                                    1
NS/NC                                                1
No es pertinente                                     1
Pansexual                                            3
Pansexual Queer                                      2
Por qué es importante esto?                          1
Que te importa                                       1
Qué tiene que ver con una encuesta de sueldo?        1
Sbdhd                                                1
Todes                                                1
What?                                                1
Ya dejense de joder                                  1
demasiadas                                           1
lesbiana                                             1
ni idea                                              1
no les interesa                                      1
no te importa                                        1
paidófilo                                            1
papa                                                 1
política                                             1
que te importa                                       1
dtype: int64

## Seleccionamos las columnas que tengan como mínimo 10 entradas por columna

In [36]:
sex_or.sum(axis=0)[sex_or.sum(axis=0)>10]

Bisexual o queer      91
Heterosexual        2435
Homosexual            88
dtype: int64

## Creamos una lista que tenga los nombres

In [82]:
keep=sex_or.sum(axis=0)[sex_or.sum(axis=0)>10]

In [84]:
keep.index

Index(['Bisexual o queer', 'Heterosexual', 'Homosexual'], dtype='object')

In [44]:
sex_or[keep.index].head()

   Bisexual o queer  Heterosexual  Homosexual
0                 0             0           0
1                 0             0           0
2                 0             0           0
3                 0             0           0
4                 0             0           0

In [39]:
sueldos.dtypes == object

Me identifico                                                     True
Tengo                                                            False
Años de experiencia                                              False
Años en la empresa actual                                        False
Años en el puesto actual                                         False
¿Gente a cargo?                                                  False
Nivel de estudios alcanzado                                       True
Estado                                                            True
¿Contribuís a proyectos open source?                              True
¿Programás como hobbie?                                           True
Lenguajes de programación                                         True
Bases de datos                                                    True
¿Qué SO usás en tu laptop/PC para trabajar?                       True
¿Y en tu celular?                                                 True
Tipo de contrato                                                  True
Salario mensual BRUTO (en tu moneda local)                       False
Salario mensual NETO (en tu moneda local)                        False
¿Qué tan conforme estás con tu sueldo?                           False
Cómo creés que está tu sueldo con respecto al último semestre    False
Orientación sexual                                                True
Cantidad de empleados                                             True
¿La recomendás como un buen lugar para trabajar?                 False
¿Cómo calificás las políticas de diversidad e inclusión?         False
¿A cuántos kilómetros de tu casa queda la oficina?               False
dtype: bool

In [46]:
sueldos.dtypes[sueldos.dtypes == object]

Me identifico                                  object
Nivel de estudios alcanzado                    object
Estado                                         object
¿Contribuís a proyectos open source?           object
¿Programás como hobbie?                        object
Lenguajes de programación                      object
Bases de datos                                 object
¿Qué SO usás en tu laptop/PC para trabajar?    object
¿Y en tu celular?                              object
Tipo de contrato                               object
Orientación sexual                             object
Cantidad de empleados                          object
dtype: object

In [47]:
sueldos.dtypes[sueldos.dtypes == object].index

Index(['Me identifico', 'Nivel de estudios alcanzado', 'Estado',
       '¿Contribuís a proyectos open source?', '¿Programás como hobbie?',
       'Lenguajes de programación', 'Bases de datos',
       '¿Qué SO usás en tu laptop/PC para trabajar?', '¿Y en tu celular?',
       'Tipo de contrato', 'Orientación sexual', 'Cantidad de empleados'],
      dtype='object')

In [72]:
sueldos["Lenguajes de programación"]

0                                                     NaN
1       .NET, C, C++, C#, CSS, HTML, Javascript, PHP, ...
2                            Java, Javascript, TypeScript
3                              CSS, HTML, Javascript, PHP
4                                   HTML, Javascript, PHP
5                                          CSS, HTML, SQL
6       Bash/Shell, CSS, Go, HTML, Javascript, Python,...
7                                  HTML, Java, Javascript
8                                                     NaN
9       Bash/Shell, CSS, HTML, Java, Javascript, PHP, ...
10             CSS, Go, HTML, Javascript, SQL, TypeScript
11                                  CSS, HTML, Javascript
12                        Go, Groovy, Java, Python, Scala
13                                  HTML, Javascript, SQL
14                                                    NaN
15                                       Javascript, Ruby
16                      Bash/Shell, CSS, HTML, Javascript
17                                 Javascript, TypeScript
18                                                   Ruby
19                                                 Python
20                                                   Java
21                                             Javascript
22                                             Bash/Shell
23                                           Java, Kotlin
24                                       Java, Javascript
25                                                    SQL
26      CSS, HTML, Javascript, PHP, Ruby, SQL, TypeScript
27                                                    NaN
28           CSS, HTML, Java, Javascript, SQL, TypeScript
29                                                 Python
                              ...
2721                                CSS, HTML, Javascript
2722                      CSS, HTML, Javascript, PHP, SQL
2723    Bash/Shell, CSS, HTML, Javascript, PHP, Python...
2724                                   Bash/Shell, Python
2725                           HTML, Javascript, PHP, SQL
2726                      CSS, HTML, Javascript, PHP, SQL
2727                      CSS, HTML, Javascript, PHP, SQL
2728                                                  NaN
2729                           CSS, HTML, Javascript, PHP
2730                                                  NaN
2731                                       .NET, SQL, VBA
2732                           Java, Javascript, Solidity
2733                 Go, Java, Javascript, Kotlin, Python
2734                                            Java, SQL
2735            Bash/Shell, HTML, Javascript, Python, SQL
2736                          Bash/Shell, SQL, Net Expert
2737                                                  NaN
2738                                                  NaN
2739                                CSS, HTML, Javascript
2740                                CSS, HTML, Javascript
2741            Bash/Shell, C++, C#, Java, Smalltalk, SQL
2742                        CSS, HTML, Javascript, Python
2743                                               Python
2744              .NET, C#, Java, Javascript, PHP, Python
2745                                HTML, Javascript, PHP
2746                           CSS, HTML, Java, Ruby, SQL
2747                                                  NaN
2748                     C#, Javascript, Python, SQL, VBA
2749                                          PHP, Python
2750    Bash/Shell, CSS, HTML, Javascript, Python, SQL...
Name: Lenguajes de programación, Length: 2751, dtype: object

In [68]:
[len(str(c).split(',')) for c in sueldos["Lenguajes de programación"]]

[1,
 13,
 3,
 4,
 3,
 3,
 7,
 3,
 1,
 8,
 6,
 3,
 5,
 3,
 1,
 2,
 4,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 7,
 1,
 6,
 1,
 2,
 1,
 4,
 1,
 1,
 6,
 9,
 4,
 6,
 1,
 3,
 1,
 2,
 5,
 7,
 1,
 4,
 2,
 3,
 1,
 2,
 2,
 1,
 2,
 1,
 8,
 4,
 3,
 3,
 8,
 3,
 4,
 5,
 1,
 3,
 4,
 2,
 6,
 4,
 1,
 3,
 2,
 2,
 5,
 1,
 1,
 6,
 3,
 3,
 1,
 3,
 3,
 2,
 3,
 3,
 4,
 2,
 3,
 3,
 3,
 4,
 3,
 3,
 1,
 2,
 2,
 3,
 3,
 1,
 6,
 2,
 3,
 5,
 1,
 3,
 3,
 2,
 1,
 4,
 1,
 2,
 7,
 1,
 4,
 7,
 2,
 1,
 3,
 3,
 4,
 5,
 1,
 5,
 2,
 1,
 5,
 3,
 3,
 1,
 4,
 7,
 6,
 3,
 4,
 1,
 3,
 3,
 8,
 3,
 1,
 2,
 3,
 1,
 2,
 4,
 1,
 2,
 5,
 6,
 12,
 2,
 1,
 2,
 6,
 1,
 4,
 5,
 3,
 3,
 5,
 6,
 2,
 3,
 2,
 1,
 3,
 5,
 1,
 5,
 7,
 3,
 5,
 1,
 5,
 4,
 7,
 1,
 1,
 3,
 6,
 5,
 2,
 1,
 1,
 3,
 4,
 3,
 3,
 5,
 6,
 1,
 2,
 3,
 1,
 1,
 1,
 4,
 11,
 4,
 2,
 2,
 1,
 1,
 7,
 6,
 1,
 1,
 1,
 3,
 5,
 8,
 3,
 5,
 6,
 1,
 4,
 1,
 8,
 2,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 8,
 1,
 6,
 3,
 1,
 7,
 2,
 4,
 4,
 5,
 5,
 5,
 1,
 5,
 2,
 1,
 2,
 1,
 1,
 7,
 3,
 5,
 2,
 1,
 6,
 3,
 3,
 4,
 4,
 5,
 1,
 3,
 2,
 1,
 2,
 5,
 6,
 3,
 3,
 1,
 1,
 1,
 6,
 6,
 3,
 6,
 1,
 3,
 3,
 3,
 8,
 2,
 6,
 6,
 3,
 2,
 5,
 4,
 1,
 3,
 1,
 2,
 1,
 3,
 2,
 3,
 1,
 1,
 3,
 2,
 5,
 1,
 8,
 3,
 2,
 3,
 3,
 3,
 4,
 1,
 1,
 4,
 2,
 1,
 4,
 1,
 1,
 2,
 4,
 7,
 2,
 6,
 3,
 3,
 4,
 3,
 6,
 9,
 1,
 2,
 6,
 5,
 8,
 1,
 3,
 9,
 1,
 5,
 2,
 1,
 1,
 1,
 1,
 2,
 5,
 7,
 3,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 3,
 1,
 5,
 5,
 3,
 7,
 8,
 3,
 3,
 1,
 1,
 6,
 5,
 1,
 3,
 2,
 4,
 4,
 1,
 1,
 8,
 2,
 1,
 9,
 1,
 2,
 1,
 1,
 4,
 4,
 3,
 5,
 1,
 1,
 6,
 6,
 5,
 1,
 1,
 5,
 1,
 1,
 2,
 1,
 1,
 1,
 6,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 10,
 3,
 5,
 3,
 1,
 2,
 7,
 2,
 1,
 5,
 1,
 1,
 5,
 6,
 6,
 4,
 5,
 6,
 1,
 1,
 2,
 3,
 1,
 7,
 4,
 2,
 5,
 5,
 3,
 1,
 6,
 4,
 2,
 2,
 1,
 1,
 5,
 4,
 4,
 1,
 3,
 7,
 2,
 2,
 1,
 1,
 2,
 2,
 3,
 3,
 7,
 1,
 7,
 1,
 1,
 4,
 5,
 1,
 6,
 1,
 1,
 2,
 2,
 1,
 6,
 1,
 6,
 1,
 5,
 2,
 2,
 4,
 1,
 1,
 2,
 1,
 4,
 2,
 1,
 1,
 1,
 1,
 4,
 4,
 2,
 1,
 3,
 5,
 4,
 4,
 3,
 2,
 6,
 2,
 1,
 5,
 1,
 9,
 3,
 7,
 5,
 4,
 2,
 8,
 1,
 4,
 4,
 1,
 1,
 3,
 1,
 6,
 2,
 1,
 3,
 4,
 5,
 8,
 1,
 3,
 3,
 1,
 2,
 5,
 2,
 2,
 8,
 4,
 1,
 6,
 1,
 1,
 1,
 2,
 5,
 1,
 1,
 3,
 2,
 1,
 1,
 3,
 4,
 3,
 4,
 1,
 7,
 1,
 1,
 1,
 1,
 3,
 1,
 2,
 9,
 1,
 4,
 1,
 1,
 1,
 2,
 5,
 1,
 1,
 3,
 1,
 3,
 1,
 6,
 1,
 1,
 2,
 1,
 1,
 4,
 1,
 11,
 5,
 1,
 3,
 3,
 8,
 2,
 4,
 8,
 6,
 1,
 1,
 2,
 3,
 1,
 4,
 1,
 2,
 2,
 1,
 4,
 4,
 6,
 4,
 1,
 9,
 2,
 6,
 7,
 1,
 3,
 5,
 1,
 7,
 1,
 8,
 2,
 2,
 2,
 1,
 3,
 1,
 6,
 1,
 1,
 1,
 1,
 8,
 1,
 3,
 1,
 1,
 4,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 2,
 7,
 9,
 5,
 1,
 3,
 3,
 5,
 6,
 4,
 6,
 4,
 4,
 1,
 2,
 1,
 7,
 2,
 1,
 1,
 1,
 1,
 4,
 2,
 1,
 4,
 3,
 3,
 1,
 1,
 2,
 2,
 1,
 7,
 7,
 8,
 3,
 5,
 1,
 4,
 1,
 3,
 4,
 2,
 10,
 1,
 3,
 11,
 1,
 2,
 1,
 6,
 4,
 1,
 1,
 1,
 1,
 4,
 6,
 7,
 1,
 4,
 5,
 3,
 3,
 11,
 2,
 3,
 2,
 1,
 6,
 1,
 1,
 6,
 5,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 3,
 1,
 4,
 6,
 3,
 3,
 6,
 7,
 1,
 5,
 9,
 3,
 3,
 1,
 1,
 3,
 4,
 3,
 4,
 2,
 1,
 4,
 5,
 4,
 1,
 6,
 1,
 1,
 1,
 5,
 4,
 9,
 1,
 1,
 1,
 1,
 2,
 1,
 4,
 1,
 5,
 2,
 5,
 3,
 5,
 7,
 2,
 3,
 5,
 1,
 2,
 6,
 4,
 1,
 1,
 3,
 1,
 6,
 6,
 4,
 5,
 1,
 3,
 6,
 3,
 9,
 5,
 9,
 1,
 1,
 1,
 3,
 3,
 5,
 1,
 3,
 3,
 2,
 6,
 1,
 1,
 1,
 1,
 7,
 10,
 4,
 10,
 1,
 1,
 1,
 4,
 1,
 1,
 4,
 6,
 10,
 2,
 1,
 2,
 3,
 1,
 3,
 3,
 2,
 1,
 5,
 7,
 5,
 1,
 3,
 5,
 3,
 4,
 1,
 1,
 2,
 1,
 1,
 1,
 6,
 7,
 6,
 4,
 6,
 3,
 1,
 6,
 1,
 1,
 6,
 1,
 9,
 3,
 1,
 7,
 2,
 2,
 1,
 2,
 4,
 4,
 5,
 5,
 3,
 6,
 1,
 1,
 1,
 4,
 4,
 2,
 1,
 3,
 3,
 4,
 3,
 1,
 2,
 3,
 1,
 2,
 6,
 3,
 1,
 3,
 5,
 12,
 3,
 4,
 1,
 1,
 1,
 2,
 3,
 1,
 1,
 1,
 5,
 3,
 2,
 5,
 4,
 1,
 7,
 1,
 1,
 5,
 1,
 2,
 2,
 5,
 1,
 1,
 2,
 2,
 2,
 6,
 2,
 1,
 2,
 1,
 2,
 5,
 1,
 1,
 1,
 1,
 1,
 5,
 1,
 4,
 9,
 1,
 3,
 2,
 2,
 1,
 1,
 1,
 3,
 4,
 4,
 2,
 1,
 7,
 1,
 4,
 2,
 2,
 1,
 1,
 1,
 7,
 1,
 1,
 1,
 7,
 1,
 1,
 5,
 2,
 1,
 3,
 8,
 1,
 5,
 3,
 1,
 3,
 1,
 1,
 3,
 2,
 1,
 7,
 1,
 2,
 6,
 2,
 6,
 1,
 2,
 1,
 3,
 6,
 5,
 3,
 5,
 1,
 4,
 1,
 2,
 ...]

In [77]:
sueldos["Lenguajes de programación"]=[len(str(c).split(',')) for c in sueldos["Lenguajes de programación"]]

In [78]:
sueldos["Bases de datos"]=[len(str(c).split(',')) for c in sueldos["Bases de datos"]]

In [85]:
sueldos_nuevo=sueldos[sueldos.dtypes[sueldos.dtypes != object].index]
sueldos_nuevo.head()

,Tengo,Años de experiencia,Años en la empresa actual,Años en el puesto actual,¿Gente a cargo?,Lenguajes de programación,Bases de datos,Salario mensual BRUTO (en tu moneda local),Salario mensual NETO (en tu moneda local),¿Qué tan conforme estás con tu sueldo?,Cómo creés que está tu sueldo con respecto al último semestre,¿La recomendás como un buen lugar para trabajar?,¿Cómo calificás las políticas de diversidad e inclusión?,¿A cuántos kilómetros de tu casa queda la oficina?
0,17,0,0,0,0,1,1,1,1.0,1,1,1.0,1.0,-1.0
1,36,16,10,4,3,13,6,40000,37000.0,2,1,5.0,5.0,10.0
2,45,17,1,1,0,3,3,67000,50000.0,1,1,1.0,5.0,2.0
3,37,12,6,6,0,4,3,50000,40000.0,1,1,4.0,1.0,3.0
4,33,12,6,2,0,3,1,67700,53000.0,3,2,9.0,9.0,9.0

In [86]:
entradas_min_col=10
for c in sueldos.columns:
    if c in sueldos.dtypes[sueldos.dtypes == object]:
        print(c)
        obj_df=sueldos[c].str.get_dummies()
        keep=obj_df.sum(axis=0)[obj_df.sum(axis=0)>10].index
        obj_df=obj_df[keep]
        sueldos_nuevo=pd.concat([sueldos_nuevo,obj_df],axis=1)

Me identifico
Nivel de estudios alcanzado
Estado
¿Contribuís a proyectos open source?
¿Programás como hobbie?
¿Qué SO usás en tu laptop/PC para trabajar?
¿Y en tu celular?
Tipo de contrato
Orientación sexual
Cantidad de empleados

In [87]:
sueldos_nuevo

,Tengo,Años de experiencia,Años en la empresa actual,Años en el puesto actual,¿Gente a cargo?,Lenguajes de programación,Bases de datos,Salario mensual BRUTO (en tu moneda local),Salario mensual NETO (en tu moneda local),¿Qué tan conforme estás con tu sueldo?,...,1-10,10001+,1001-2000,101-200,11-50,2001-5000,201-500,5001-10000,501-1000,51-100
0,17,0,0,0,0,1,1,1,1.0,1,...,0,0,0,1,0,0,0,0,0,0
1,36,16,10,4,3,13,6,40000,37000.0,2,...,1,0,0,0,0,0,0,0,0,0
2,45,17,1,1,0,3,3,67000,50000.0,1,...,0,0,0,1,0,0,0,0,0,0
3,37,12,6,6,0,4,3,50000,40000.0,1,...,0,0,0,0,0,0,0,0,1,0
4,33,12,6,2,0,3,1,67700,53000.0,3,...,0,0,0,1,0,0,0,0,0,0
5,23,4,2,2,0,3,5,27000,20500.0,2,...,1,0,0,0,0,0,0,0,0,0
6,33,13,0,0,0,7,3,147150,99839.0,4,...,0,0,0,0,0,1,0,0,0,0
7,40,15,1,1,0,3,3,100000,68000.0,3,...,0,0,0,0,0,0,1,0,0,0
8,24,2,1,1,0,1,1,21000,19000.0,2,...,0,0,1,0,0,0,0,0,0,0
9,37,20,1,1,0,8,6,54000,54000.0,1,...,0,0,0,0,0,0,0,0,1,0
10,29,9,0,3,0,6,4,123000,90000.0,3,...,0,0,0,0,0,0,1,0,0,0
11,28,10,1,1,3,3,1,83000,60000.0,3,...,0,0,0,0,0,1,0,0,0,0
12,29,8,1,1,0,5,1,135184,81501.0,4,...,0,0,0,1,0,0,0,0,0,0
13,35,16,2,2,11,3,2,165000,101000.0,4,...,0,0,0,0,1,0,0,0,0,0
14,32,8,0,1,0,1,1,54000,43150.0,2,...,0,0,0,0,0,0,0,0,1,0
15,29,8,1,1,2,2,2,332200,225500.0,4,...,1,0,0,0,0,0,0,0,0,0
16,29,8,1,5,0,4,4,330000,330000.0,4,...,0,0,0,0,1,0,0,0,0,0
17,28,10,0,0,0,2,1,216000,NaN,4,...,0,0,0,1,0,0,0,0,0,0
18,41,10,6,6,0,1,2,66000,49500.0,3,...,0,0,0,1,0,0,0,0,0,0
19,27,2,0,0,0,1,4,37600,37600.0,3,...,1,0,0,0,0,0,0,0,0,0
20,26,6,3,2,0,1,2,110000,750000.0,4,...,0,0,0,0,0,0,1,0,0,0
21,28,6,0,0,0,1,4,88900,82000.0,4,...,1,0,0,0,0,0,0,0,0,0
22,34,14,4,4,0,1,1,42000,35400.0,2,...,1,0,0,0,0,0,0,0,0,0
23,41,8,2,2,0,2,1,61500,NaN,3,...,0,0,0,1,0,0,0,0,0,0
24,25,5,16,6,0,2,9,90000,60000.0,3,...,0,0,0,1,0,0,0,0,0,0
25,29,3,0,0,0,1,2,60000,50000.0,3,...,0,0,0,1,0,0,0,0,0,0
26,40,14,4,1,0,7,4,95000,65000.0,3,...,0,0,0,0,0,0,0,1,0,0
27,41,4,3,3,18,1,1,53000,42000.0,2,...,0,0,0,0,0,0,0,1,0,0
28,24,1,1,1,0,6,3,31108,25820.0,3,...,1,0,0,0,0,0,0,0,0,0
29,31,10,0,0,0,1,1,95000,65000.0,3,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2721,26,0,0,0,0,3,1,27900,23157.0,3,...,0,0,0,0,0,1,0,0,0,0
2722,23,3,2,2,0,5,1,25000,18000.0,2,...,1,0,0,0,0,0,0,0,0,0
2723,28,7,2,2,0,8,5,50000,NaN,4,...,1,0,0,0,0,0,0,0,0,0
2724,35,12,0,0,0,2,1,120000,NaN,3,...,0,0,0,0,0,0,0,0,0,1
2725,25,2,2,2,0,4,1,37000,29000.0,2,...,0,0,0,1,0,0,0,0,0,0
2726,21,0,0,0,0,5,1,12000,10000.0,3,...,0,0,0,0,1,0,0,0,0,0
2727,27,4,0,4,0,5,1,31200,25350.0,2,...,0,0,0,0,0,0,0,0,0,1
2728,31,10,2,0,5,1,1,70000,45000.0,2,...,0,1,0,0,0,0,0,0,0,0
2729,27,1,0,0,0,4,1,33105,29040.0,3,...,0,0,0,0,0,0,0,0,0,1
2730,34,12,3,3,6,1,1,90000,74500.0,3,...,0,0,0,0,1,0,0,0,0,0
2731,23,4,4,1,0,3,2,29500,25000.0,2,...,0,0,0,1,0,0,0,0,0,0
2732,22,1,1,1,0,3,1,26000,21000.0,3,...,0,1,0,0,0,0,0,0,0,0
2733,27,6,0,0,0,5,1,115000,NaN,3,...,0,0,0,0,1,0,0,0,0,0
2734,57,12,8,8,5,2,1,45000,38000.0,3,...,0,0,0,0,1,0,0,0,0,0
2735,33,13,3,1,2,5,2,120000,85000.0,3,...,0,0,0,0,0,0,0,0,0,1
2736,46,28,9,7,0,3,1,35000,28000.0,2,...,0,0,0,0,0,1,0,0,0,0
2737,46,20,0,7,0,1,3,55400,NaN,2,...,0,0,0,0,0,0,0,0,1,0
2738,46,23,18,3,7,1,1,66000,NaN,3,...,0,0,0,0,0,1,0,0,0,0
2739,41,18,1,1,60,3,1,100000,82000.0,3,...,0,0,0,0,0,0,1,0,0,0
2740,31,0,0,0,0,3,1,35000,30000.0,3,...,0,0,0,0,1,0,0,0,0,0
2741,28,5,2,2,0,6,9,50000,35.0,2,...,0,0,0,1,0,0,0,0,0,0
2742,22,3,0,2,0,4,1,33000,27390.0,2,...,0,0,0,0,1,0,0,0,0,0
2743,34,15,7,3,6,1,1,94000,50000.0,3,...,0,0,0,0,0,1,0,0,0,0
2744,33,12,2,2,4,6,2,77160,56000.0,2,...,0,0,0,0,0,0,0,1,0,0
2745,29,1,1,1,0,3,1,24000,20000.0,1,...,0,0,0,0,0,0,0,0,0,1
2746,28,5,0,5,0,5,4,35000,28500.0,2,...,0,0,0,0,0,0,0,0,0,1
2747,29,9,0,0,0,1,2,44000,36850.0,3,...,0,0,0,0,0,0,1,0,0,0
2748,28,5,0,0,0,5,6,75000,66000.0,4,...,0,0,0,1,0,0,0,0,0,0
2749,30,9,6,2,3,2,5,37030,27290.0,1,...,0,0,1,0,0,0,0,0,0,0
2750,34,12,0,0,0,7,2,80000,52000.0,1,...,0,1,0,0,0,0,0,0,0,0