# Biblioteca Pandas

### Series y DataFrames

In [2]:
import pandas as pd

In [3]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
animales = ['Tortuga', 'Zorro', 'Paloma', 'Elefante']
tipo = ['reptil', 'mamífero', 'ave', 'mamífero']
obj = pd.Series(tipo, index=animales)
obj

Tortuga       reptil
Zorro       mamífero
Paloma           ave
Elefante    mamífero
dtype: object

DataFrames

In [5]:
d = {'tipo_vivienda': ['casa', 'departamento'], 'm2': [35, 49]}
df = pd.DataFrame(data=d)
df

  tipo_vivienda  m2
0          casa  35
1  departamento  49

### Cargando datos

In [3]:
df = pd.read_csv('../unidad2/datasets/fifa-statistics-2018.csv')
df.head()

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
1,14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN
2,15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
3,15-06-2018,Uruguay,Egypt,1,57,14,4,6,4,5,...,0,0,0,Yes,89.0,Group Stage,No,0,NaN,NaN
4,15-06-2018,Morocco,Iran,0,64,13,3,6,4,5,...,1,0,0,No,NaN,Group Stage,No,0,1.0,90.0

In [4]:
pd.read_table('../unidad2/datasets/fifa-statistics-2018.csv',sep=',')

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
1,14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN
2,15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
3,15-06-2018,Uruguay,Egypt,1,57,14,4,6,4,5,...,0,0,0,Yes,89.0,Group Stage,No,0,NaN,NaN
4,15-06-2018,Morocco,Iran,0,64,13,3,6,4,5,...,1,0,0,No,NaN,Group Stage,No,0,1.0,90.0
5,15-06-2018,Iran,Morocco,1,36,8,2,5,1,2,...,3,0,0,Yes,90.0,Group Stage,No,0,NaN,NaN
6,15-06-2018,Portugal,Spain,3,39,8,3,2,3,4,...,1,0,0,No,4.0,Group Stage,No,0,NaN,NaN
7,15-06-2018,Spain,Portugal,3,61,12,5,5,2,5,...,1,0,0,Yes,24.0,Group Stage,No,0,NaN,NaN
8,16-06-2018,France,Australia,2,51,12,5,4,3,5,...,1,0,0,Yes,58.0,Group Stage,No,0,NaN,NaN
9,16-06-2018,Australia,France,1,49,4,1,2,1,1,...,3,0,0,No,62.0,Group Stage,No,0,1.0,81.0
10,16-06-2018,Argentina,Iceland,1,72,26,7,9,10,10,...,0,0,0,No,19.0,Group Stage,No,0,NaN,NaN
11,16-06-2018,Iceland,Argentina,1,28,9,3,5,1,2,...,0,0,0,Yes,23.0,Group Stage,No,0,NaN,NaN
12,16-06-2018,Peru,Denmark,0,52,18,6,7,5,3,...,1,0,0,No,NaN,Group Stage,No,0,NaN,NaN
13,16-06-2018,Denmark,Peru,1,48,10,3,5,2,7,...,2,0,0,Yes,59.0,Group Stage,No,0,NaN,NaN
14,17-06-2018,Croatia,Nigeria,2,54,11,2,7,2,6,...,2,0,0,Yes,32.0,Group Stage,No,0,NaN,NaN
15,17-06-2018,Nigeria,Croatia,0,46,14,2,5,7,5,...,1,0,0,No,NaN,Group Stage,No,0,1.0,32.0
16,17-06-2018,Costa Rica,Serbia,0,50,10,3,3,4,5,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
17,17-06-2018,Serbia,Costa Rica,1,50,10,3,5,2,4,...,2,0,0,Yes,56.0,Group Stage,No,0,NaN,NaN
18,17-06-2018,Germany,Mexico,0,60,25,9,9,7,8,...,2,0,0,Yes,NaN,Group Stage,No,0,NaN,NaN
19,17-06-2018,Mexico,Germany,1,40,12,4,6,2,1,...,2,0,0,No,35.0,Group Stage,No,0,NaN,NaN
20,17-06-2018,Brazil,Switzerland,1,52,20,4,9,7,7,...,1,0,0,Yes,20.0,Group Stage,No,0,NaN,NaN
21,17-06-2018,Switzerland,Brazil,1,48,6,2,4,0,2,...,3,0,0,No,50.0,Group Stage,No,0,NaN,NaN
22,18-06-2018,Sweden,Korea Republic,1,52,15,4,5,6,6,...,1,0,0,Yes,65.0,Group Stage,No,0,NaN,NaN
23,18-06-2018,Korea Republic,Sweden,0,48,5,0,2,3,5,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
24,18-06-2018,Belgium,Panama,3,61,15,6,7,2,9,...,3,0,0,Yes,47.0,Group Stage,No,0,NaN,NaN
25,18-06-2018,Panama,Belgium,0,39,6,2,4,0,3,...,5,0,0,No,NaN,Group Stage,No,0,NaN,NaN
26,18-06-2018,Tunisia,England,1,41,6,1,3,2,2,...,0,0,0,No,11.0,Group Stage,No,0,NaN,NaN
27,18-06-2018,England,Tunisia,2,59,17,7,7,3,7,...,1,0,0,Yes,35.0,Group Stage,No,0,NaN,NaN
28,19-06-2018,Colombia,Japan,1,41,8,3,1,4,3,...,2,0,1,No,39.0,Group Stage,No,0,NaN,NaN
29,19-06-2018,Japan,Colombia,2,59,14,6,5,3,6,...,1,0,0,Yes,6.0,Group Stage,No,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,30-06-2018,Uruguay,Portugal,2,39,6,3,2,1,2,...,0,0,0,Yes,7.0,Round of 16,No,0,NaN,NaN
99,30-06-2018,Portugal,Uruguay,1,61,20,5,1,8,10,...,1,0,0,No,55.0,Round of 16,No,0,NaN,NaN
100,01-07-2018,Spain,Russia,1,75,25,9,6,10,6,...,1,0,0,No,12.0,Round of 16,Yes,3,NaN,NaN
101,01-07-2018,Russia,Spain,1,25,6,1,3,2,5,...,2,0,0,Yes,41.0,Round of 16,Yes,4,1.0,12.0
102,01-07-2018,Croatia,Denmark,1,54,22,7,8,7,5,...,0,0,0,Yes,4.0,Round of 16,Yes,3,NaN,NaN
103,01-07-2018,Denmark,Croatia,1,46,15,3,10,2,4,...,1,0,0,No,1.0,Round of 16,Yes,2,NaN,NaN
104,02-07-2018,Brazil,Mexico,2,47,21,10,7,4,8,...,2,0,0,Yes,51.0,Round of 16,No,0,NaN,NaN
105,02-07-2018,Mexico,Brazil,0,53,13,1,4,8,7,...,4,0,0,No,NaN,Round of 16,No,0,NaN,NaN
106,02-07-2018,Belgium,Japan,3,56,24,8,10,6,10,...,0,0,0,Yes,69.0,Round of 16,No,0,NaN,NaN
107,02-07-2018,Japan,Belgium,2,44,11,4,4,3,6,...,1,0,0,No,48.0,Round of 16,No,0,NaN,NaN
108,03-07-2018,Sweden,Switzerland,1,37,12,3,6,3,3,...,1,0,0,Yes,66.0,Round of 16,No,0,NaN,NaN
109,03-07-2018,Switzerland,Sweden,0,63,18,4,5,9,11,...,2,0,1,No,NaN,Round of 16,No,0,NaN,NaN
110,03-07-2018,Colombia,England,1,48,14,4,7,3,2,...,6,0,0,No,90.0,Round of 16,Yes,3,NaN,NaN
111,03-07-2018,England,Colombia,1,51,16,2,9,5,7,...,2,0,0,Yes,57.0,Round of 16,Yes,4,NaN,NaN
112,06-07-2018,Uruguay,France,0,42,11,4,6,1,4,...,2,0,0,No,NaN,Quarter Finals,No,0,NaN,NaN
113,06-07-2018,France,Uruguay,2,58,11,2,7,2,3,...,2,0,0,Yes,40.0,Quarter Finals,No,0,NaN,NaN
114,06-07-2018,Brazil,Belgium,1,57,26,9,7,10,8,...,2,0,0,No,NaN,Quarter Finals,No,0,1.0,13.0
115,06-07-2018,Belgium,Brazil,2,43,8,3,3,2,4,...,2,0,0,Yes,13.0,Quarter Finals,No,0,NaN,NaN
116,07-07-2018,Sweden,England,0,43,7,3,3,1,1,...,2,0,0,No,NaN,Quarter Finals,No,0,NaN,NaN
117,07-07-2018,England,Sweden,2,57,12,2,4,6,6,...,1,0,0,Yes,30.0,Quarter Finals,No,0,NaN,NaN
118,07-07-2018,Russia,Croatia,2,38,13,7,4,2,6,...,1,0,0,No,31.0,Quarter Finals,Yes,3,NaN,NaN
119,07-07-2018,Croatia,Russia,2,62,17,3,10,4,8,...,4,0,0,Yes,39.0,Quarter Finals,Yes,4,NaN,NaN
120,10-07-2018,France,Belgium,1,40,19,5,8,6,4,...,2,0,0,Yes,51.0,Semi- Finals,No,0,NaN,NaN
121,10-07-2018,Belgium,France,0,60,9,3,5,1,5,...,3,0,0,No,NaN,Semi- Finals,No,0,NaN,NaN
122,11-07-2018,Croatia,England,2,54,22,7,11,4,8,...,2,0,0,Yes,68.0,Semi- Finals,No,0,NaN,NaN
123,11-07-2018,England,Croatia,1,46,11,1,6,4,4,...,1,0,0,No,5.0,Semi- Finals,No,0,NaN,NaN
124,14-07-2018,Belgium,England,2,43,12,4,3,5,4,...,1,0,0,Yes,4.0,3rd Place,No,0,NaN,NaN
125,14-07-2018,England,Belgium,0,57,15,5,7,3,5,...,2,0,0,No,NaN,3rd Place,No,0,NaN,NaN
126,15-07-2018,France,Croatia,4,39,8,6,1,1,2,...,2,0,0,Yes,18.0,Final,No,0,1.0,18.0
127,15-07-2018,Croatia,France,2,61,15,3,8,4,6,...,1,0,0,No,28.0,Final,No,0,NaN,NaN

## Selección e Indexing

### loc e iloc

In [25]:
df.loc[0, 'Team']

'Russia'

In [26]:
df.iloc[0, [1]]

Team    Russia
Name: 0, dtype: object

In [27]:
df.iloc[2]

Date                       15-06-2018
Team                            Egypt
Opponent                      Uruguay
Goal Scored                         0
Ball Possession %                  43
Attempts                            8
On-Target                           3
Off-Target                          3
Blocked                             2
Corners                             0
Offsides                            1
Free Kicks                          7
Saves                               3
Pass Accuracy %                    78
Passes                            395
Distance Covered (Kms)            112
Fouls Committed                    12
Yellow Card                         2
Yellow & Red                        0
Red                                 0
Man of the Match                   No
1st Goal                          NaN
Round                     Group Stage
PSO                                No
Goals in PSO                        0
Own goals                         NaN
Own goal Time                     NaN
Name: 2, dtype: object

## Análisis descriptivo en Pandas

### describe, info y shape

In [28]:
df.describe()

,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,Offsides,Free Kicks,Saves,...,Passes,Distance Covered (Kms),Fouls Committed,Yellow Card,Yellow & Red,Red,1st Goal,Goals in PSO,Own goals,Own goal Time
count,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,...,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,94.000000,128.000000,12.0,12.000000
mean,1.320312,49.992188,12.593750,3.914062,5.273438,3.359375,4.718750,1.343750,14.890625,2.726562,...,462.648438,106.664062,13.546875,1.695312,0.015625,0.015625,39.457447,0.203125,1.0,45.833333
std,1.156519,10.444074,5.245827,2.234403,2.409675,2.403195,2.446072,1.193404,4.724262,2.049447,...,151.186311,11.749537,4.619131,1.325454,0.124507,0.124507,24.496506,0.807049,0.0,29.978275
min,0.000000,25.000000,3.000000,0.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,...,189.000000,80.000000,5.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.0,12.000000
25%,0.000000,42.000000,9.000000,2.000000,4.000000,1.750000,3.000000,0.000000,11.000000,1.000000,...,351.000000,101.000000,10.000000,1.000000,0.000000,0.000000,18.250000,0.000000,1.0,21.750000
50%,1.000000,50.000000,12.000000,3.500000,5.000000,3.000000,5.000000,1.000000,15.000000,2.000000,...,462.000000,104.500000,13.000000,2.000000,0.000000,0.000000,39.000000,0.000000,1.0,35.000000
75%,2.000000,58.000000,15.000000,5.000000,7.000000,4.000000,6.000000,2.000000,18.000000,4.000000,...,555.250000,109.000000,16.000000,2.000000,0.000000,0.000000,54.750000,0.000000,1.0,75.750000
max,6.000000,75.000000,26.000000,12.000000,11.000000,10.000000,11.000000,5.000000,26.000000,9.000000,...,1137.000000,148.000000,25.000000,6.000000,1.000000,1.000000,90.000000,4.000000,1.0,90.000000

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 27 columns):
Date                      128 non-null object
Team                      128 non-null object
Opponent                  128 non-null object
Goal Scored               128 non-null int64
Ball Possession %         128 non-null int64
Attempts                  128 non-null int64
On-Target                 128 non-null int64
Off-Target                128 non-null int64
Blocked                   128 non-null int64
Corners                   128 non-null int64
Offsides                  128 non-null int64
Free Kicks                128 non-null int64
Saves                     128 non-null int64
Pass Accuracy %           128 non-null int64
Passes                    128 non-null int64
Distance Covered (Kms)    128 non-null int64
Fouls Committed           128 non-null int64
Yellow Card               128 non-null int64
Yellow & Red              128 non-null int64
Red                       128 non-null int64
Man of the Match          128 non-null object
1st Goal                  94 non-null float64
Round                     128 non-null object
PSO                       128 non-null object
Goals in PSO              128 non-null int64
Own goals                 12 non-null float64
Own goal Time             12 non-null float64
dtypes: float64(3), int64(18), object(6)
memory usage: 24.1+ KB

In [30]:
df.shape

(128, 27)

In [31]:
df.columns

Index(['Date', 'Team', 'Opponent', 'Goal Scored', 'Ball Possession %',
       'Attempts', 'On-Target', 'Off-Target', 'Blocked', 'Corners', 'Offsides',
       'Free Kicks', 'Saves', 'Pass Accuracy %', 'Passes',
       'Distance Covered (Kms)', 'Fouls Committed', 'Yellow Card',
       'Yellow & Red', 'Red', 'Man of the Match', '1st Goal', 'Round', 'PSO',
       'Goals in PSO', 'Own goals', 'Own goal Time'],
      dtype='object')

In [32]:
df.head()

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
1,14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN
2,15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
3,15-06-2018,Uruguay,Egypt,1,57,14,4,6,4,5,...,0,0,0,Yes,89.0,Group Stage,No,0,NaN,NaN
4,15-06-2018,Morocco,Iran,0,64,13,3,6,4,5,...,1,0,0,No,NaN,Group Stage,No,0,1.0,90.0

In [33]:
df.tail(4)

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
124,14-07-2018,Belgium,England,2,43,12,4,3,5,4,...,1,0,0,Yes,4.0,3rd Place,No,0,NaN,NaN
125,14-07-2018,England,Belgium,0,57,15,5,7,3,5,...,2,0,0,No,NaN,3rd Place,No,0,NaN,NaN
126,15-07-2018,France,Croatia,4,39,8,6,1,1,2,...,2,0,0,Yes,18.0,Final,No,0,1.0,18.0
127,15-07-2018,Croatia,France,2,61,15,3,8,4,6,...,1,0,0,No,28.0,Final,No,0,NaN,NaN

### unique y value_counts()

In [34]:
df['Team'].unique()

array(['Russia', 'Saudi Arabia', 'Egypt', 'Uruguay', 'Morocco', 'Iran',
       'Portugal', 'Spain', 'France', 'Australia', 'Argentina', 'Iceland',
       'Peru', 'Denmark', 'Croatia', 'Nigeria', 'Costa Rica', 'Serbia',
       'Germany', 'Mexico', 'Brazil', 'Switzerland', 'Sweden',
       'Korea Republic', 'Belgium', 'Panama', 'Tunisia', 'England',
       'Colombia', 'Japan', 'Poland', 'Senegal'], dtype=object)

In [35]:
df.Team.value_counts()

England           7
Croatia           7
France            7
Belgium           7
Sweden            5
Russia            5
Uruguay           5
Brazil            5
Portugal          4
Denmark           4
Switzerland       4
Japan             4
Spain             4
Argentina         4
Colombia          4
Mexico            4
Poland            3
Panama            3
Germany           3
Serbia            3
Nigeria           3
Korea Republic    3
Iceland           3
Australia         3
Senegal           3
Egypt             3
Iran              3
Costa Rica        3
Tunisia           3
Morocco           3
Saudi Arabia      3
Peru              3
Name: Team, dtype: int64

### count, min, max, mean, median, std y corr

In [36]:
df.corr()

,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,Offsides,Free Kicks,Saves,...,Passes,Distance Covered (Kms),Fouls Committed,Yellow Card,Yellow & Red,Red,1st Goal,Goals in PSO,Own goals,Own goal Time
Goal Scored,1.000000,0.034759,0.144915,0.461702,-0.020374,-0.087072,0.040446,0.045105,0.046815,-0.118893,...,0.043971,0.014355,0.030331,-0.048838,-0.035031,-0.089714,-0.272170,-0.011204,NaN,-0.228729
Ball Possession %,0.034759,1.000000,0.541185,0.297234,0.361767,0.521510,0.542992,0.057706,0.273831,-0.293658,...,0.880611,-0.059054,-0.296477,-0.205511,0.090924,0.024316,-0.048316,-0.010086,NaN,0.588196
Attempts,0.144915,0.541185,1.000000,0.731243,0.718972,0.754307,0.686892,-0.016508,0.140850,-0.268217,...,0.582831,0.171381,-0.248773,-0.185544,-0.074594,0.009795,0.072737,0.149836,NaN,-0.012727
On-Target,0.461702,0.297234,0.731243,1.000000,0.324672,0.331333,0.407576,0.073176,0.093090,-0.321557,...,0.348099,0.065475,-0.192242,-0.115259,-0.051742,-0.023439,-0.071730,0.040322,NaN,-0.328175
Off-Target,-0.020374,0.361767,0.718972,0.324672,1.000000,0.299712,0.440633,-0.095919,0.142367,-0.126644,...,0.398949,0.229930,-0.186858,-0.124094,-0.145577,-0.119332,0.109203,0.185807,NaN,0.300204
Blocked,-0.087072,0.521510,0.754307,0.331333,0.299712,1.000000,0.636172,-0.002231,0.086021,-0.142960,...,0.532913,0.082111,-0.174606,-0.163111,0.033717,0.165295,0.091321,0.108220,NaN,0.014851
Corners,0.040446,0.542992,0.686892,0.407576,0.440633,0.636172,1.000000,-0.034054,0.085216,-0.233787,...,0.524661,0.099700,-0.165382,-0.169929,0.014543,0.117960,0.163760,0.088997,NaN,0.023942
Offsides,0.045105,0.057706,-0.016508,0.073176,-0.095919,-0.002231,-0.034054,1.000000,0.089121,0.006539,...,0.034715,0.031324,-0.040084,-0.047757,0.228531,-0.036432,-0.112602,-0.064892,NaN,-0.312680
Free Kicks,0.046815,0.273831,0.140850,0.093090,0.142367,0.086021,0.085216,0.089121,1.000000,-0.231637,...,0.175695,0.076927,0.080341,-0.026741,0.029701,-0.104164,-0.007801,0.138046,NaN,-0.057103
Saves,-0.118893,-0.293658,-0.268217,-0.321557,-0.126644,-0.142960,-0.233787,0.006539,-0.231637,1.000000,...,-0.264425,0.125645,0.074976,0.009670,0.140307,0.016875,-0.127567,0.110014,NaN,-0.063865
Pass Accuracy %,0.135688,0.713872,0.397614,0.291659,0.189760,0.401699,0.330363,0.127421,0.131951,-0.190740,...,0.693113,-0.210874,-0.327737,-0.113498,0.094756,0.009492,-0.084045,-0.143743,NaN,0.390021
Passes,0.043971,0.880611,0.582831,0.348099,0.398949,0.532913,0.524661,0.034715,0.175695,-0.264425,...,1.000000,0.184601,-0.352782,-0.223882,0.053837,0.010752,-0.093453,0.226844,NaN,0.296754
Distance Covered (Kms),0.014355,-0.059054,0.171381,0.065475,0.229930,0.082111,0.099700,0.031324,0.076927,0.125645,...,0.184601,1.000000,0.149800,0.001971,-0.023296,-0.093268,-0.079939,0.720547,NaN,-0.313181
Fouls Committed,0.030331,-0.296477,-0.248773,-0.192242,-0.186858,-0.174606,-0.165382,-0.040084,0.080341,0.074976,...,-0.352782,0.149800,1.000000,0.433834,0.039790,0.012408,0.131749,0.126270,NaN,0.002941
Yellow Card,-0.048838,-0.205511,-0.185544,-0.115259,-0.124094,-0.163111,-0.169929,-0.047757,-0.026741,0.009670,...,-0.223882,0.001971,0.433834,1.000000,-0.114064,0.029075,0.268910,0.102478,NaN,0.319416
Yellow & Red,-0.035031,0.090924,-0.074594,-0.051742,-0.145577,0.033717,0.014543,0.228531,0.029701,0.140307,...,0.053837,-0.023296,0.039790,-0.114064,1.000000,-0.015873,0.036355,-0.031834,NaN,-0.239862
Red,-0.089714,0.024316,0.009795,-0.023439,-0.119332,0.165295,0.117960,-0.036432,-0.104164,0.016875,...,0.010752,-0.093268,0.012408,0.029075,-0.015873,1.000000,-0.001947,-0.031834,NaN,NaN
1st Goal,-0.272170,-0.048316,0.072737,-0.071730,0.109203,0.091321,0.163760,-0.112602,-0.007801,-0.127567,...,-0.093453,-0.079939,0.131749,0.268910,0.036355,-0.001947,1.000000,-0.030558,NaN,0.332835
Goals in PSO,-0.011204,-0.010086,0.149836,0.040322,0.185807,0.108220,0.088997,-0.064892,0.138046,0.110014,...,0.226844,0.720547,0.126270,0.102478,-0.031834,-0.031834,-0.030558,1.000000,NaN,-0.355415
Own goals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Own goal Time,-0.228729,0.588196,-0.012727,-0.328175,0.300204,0.014851,0.023942,-0.312680,-0.057103,-0.063865,...,0.296754,-0.313181,0.002941,0.319416,-0.239862,NaN,0.332835,-0.355415,NaN,1.000000

### Quantiles

In [37]:
df['Distance Covered (Kms)'].quantile(0.90) # 10th percentile

115.3

In [38]:
df['Distance Covered (Kms)'].median()

104.5

### Ordenando datos

In [39]:
df.sort_index()

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
1,14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN
2,15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
3,15-06-2018,Uruguay,Egypt,1,57,14,4,6,4,5,...,0,0,0,Yes,89.0,Group Stage,No,0,NaN,NaN
4,15-06-2018,Morocco,Iran,0,64,13,3,6,4,5,...,1,0,0,No,NaN,Group Stage,No,0,1.0,90.0
5,15-06-2018,Iran,Morocco,1,36,8,2,5,1,2,...,3,0,0,Yes,90.0,Group Stage,No,0,NaN,NaN
6,15-06-2018,Portugal,Spain,3,39,8,3,2,3,4,...,1,0,0,No,4.0,Group Stage,No,0,NaN,NaN
7,15-06-2018,Spain,Portugal,3,61,12,5,5,2,5,...,1,0,0,Yes,24.0,Group Stage,No,0,NaN,NaN
8,16-06-2018,France,Australia,2,51,12,5,4,3,5,...,1,0,0,Yes,58.0,Group Stage,No,0,NaN,NaN
9,16-06-2018,Australia,France,1,49,4,1,2,1,1,...,3,0,0,No,62.0,Group Stage,No,0,1.0,81.0
10,16-06-2018,Argentina,Iceland,1,72,26,7,9,10,10,...,0,0,0,No,19.0,Group Stage,No,0,NaN,NaN
11,16-06-2018,Iceland,Argentina,1,28,9,3,5,1,2,...,0,0,0,Yes,23.0,Group Stage,No,0,NaN,NaN
12,16-06-2018,Peru,Denmark,0,52,18,6,7,5,3,...,1,0,0,No,NaN,Group Stage,No,0,NaN,NaN
13,16-06-2018,Denmark,Peru,1,48,10,3,5,2,7,...,2,0,0,Yes,59.0,Group Stage,No,0,NaN,NaN
14,17-06-2018,Croatia,Nigeria,2,54,11,2,7,2,6,...,2,0,0,Yes,32.0,Group Stage,No,0,NaN,NaN
15,17-06-2018,Nigeria,Croatia,0,46,14,2,5,7,5,...,1,0,0,No,NaN,Group Stage,No,0,1.0,32.0
16,17-06-2018,Costa Rica,Serbia,0,50,10,3,3,4,5,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
17,17-06-2018,Serbia,Costa Rica,1,50,10,3,5,2,4,...,2,0,0,Yes,56.0,Group Stage,No,0,NaN,NaN
18,17-06-2018,Germany,Mexico,0,60,25,9,9,7,8,...,2,0,0,Yes,NaN,Group Stage,No,0,NaN,NaN
19,17-06-2018,Mexico,Germany,1,40,12,4,6,2,1,...,2,0,0,No,35.0,Group Stage,No,0,NaN,NaN
20,17-06-2018,Brazil,Switzerland,1,52,20,4,9,7,7,...,1,0,0,Yes,20.0,Group Stage,No,0,NaN,NaN
21,17-06-2018,Switzerland,Brazil,1,48,6,2,4,0,2,...,3,0,0,No,50.0,Group Stage,No,0,NaN,NaN
22,18-06-2018,Sweden,Korea Republic,1,52,15,4,5,6,6,...,1,0,0,Yes,65.0,Group Stage,No,0,NaN,NaN
23,18-06-2018,Korea Republic,Sweden,0,48,5,0,2,3,5,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
24,18-06-2018,Belgium,Panama,3,61,15,6,7,2,9,...,3,0,0,Yes,47.0,Group Stage,No,0,NaN,NaN
25,18-06-2018,Panama,Belgium,0,39,6,2,4,0,3,...,5,0,0,No,NaN,Group Stage,No,0,NaN,NaN
26,18-06-2018,Tunisia,England,1,41,6,1,3,2,2,...,0,0,0,No,11.0,Group Stage,No,0,NaN,NaN
27,18-06-2018,England,Tunisia,2,59,17,7,7,3,7,...,1,0,0,Yes,35.0,Group Stage,No,0,NaN,NaN
28,19-06-2018,Colombia,Japan,1,41,8,3,1,4,3,...,2,0,1,No,39.0,Group Stage,No,0,NaN,NaN
29,19-06-2018,Japan,Colombia,2,59,14,6,5,3,6,...,1,0,0,Yes,6.0,Group Stage,No,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,30-06-2018,Uruguay,Portugal,2,39,6,3,2,1,2,...,0,0,0,Yes,7.0,Round of 16,No,0,NaN,NaN
99,30-06-2018,Portugal,Uruguay,1,61,20,5,1,8,10,...,1,0,0,No,55.0,Round of 16,No,0,NaN,NaN
100,01-07-2018,Spain,Russia,1,75,25,9,6,10,6,...,1,0,0,No,12.0,Round of 16,Yes,3,NaN,NaN
101,01-07-2018,Russia,Spain,1,25,6,1,3,2,5,...,2,0,0,Yes,41.0,Round of 16,Yes,4,1.0,12.0
102,01-07-2018,Croatia,Denmark,1,54,22,7,8,7,5,...,0,0,0,Yes,4.0,Round of 16,Yes,3,NaN,NaN
103,01-07-2018,Denmark,Croatia,1,46,15,3,10,2,4,...,1,0,0,No,1.0,Round of 16,Yes,2,NaN,NaN
104,02-07-2018,Brazil,Mexico,2,47,21,10,7,4,8,...,2,0,0,Yes,51.0,Round of 16,No,0,NaN,NaN
105,02-07-2018,Mexico,Brazil,0,53,13,1,4,8,7,...,4,0,0,No,NaN,Round of 16,No,0,NaN,NaN
106,02-07-2018,Belgium,Japan,3,56,24,8,10,6,10,...,0,0,0,Yes,69.0,Round of 16,No,0,NaN,NaN
107,02-07-2018,Japan,Belgium,2,44,11,4,4,3,6,...,1,0,0,No,48.0,Round of 16,No,0,NaN,NaN
108,03-07-2018,Sweden,Switzerland,1,37,12,3,6,3,3,...,1,0,0,Yes,66.0,Round of 16,No,0,NaN,NaN
109,03-07-2018,Switzerland,Sweden,0,63,18,4,5,9,11,...,2,0,1,No,NaN,Round of 16,No,0,NaN,NaN
110,03-07-2018,Colombia,England,1,48,14,4,7,3,2,...,6,0,0,No,90.0,Round of 16,Yes,3,NaN,NaN
111,03-07-2018,England,Colombia,1,51,16,2,9,5,7,...,2,0,0,Yes,57.0,Round of 16,Yes,4,NaN,NaN
112,06-07-2018,Uruguay,France,0,42,11,4,6,1,4,...,2,0,0,No,NaN,Quarter Finals,No,0,NaN,NaN
113,06-07-2018,France,Uruguay,2,58,11,2,7,2,3,...,2,0,0,Yes,40.0,Quarter Finals,No,0,NaN,NaN
114,06-07-2018,Brazil,Belgium,1,57,26,9,7,10,8,...,2,0,0,No,NaN,Quarter Finals,No,0,1.0,13.0
115,06-07-2018,Belgium,Brazil,2,43,8,3,3,2,4,...,2,0,0,Yes,13.0,Quarter Finals,No,0,NaN,NaN
116,07-07-2018,Sweden,England,0,43,7,3,3,1,1,...,2,0,0,No,NaN,Quarter Finals,No,0,NaN,NaN
117,07-07-2018,England,Sweden,2,57,12,2,4,6,6,...,1,0,0,Yes,30.0,Quarter Finals,No,0,NaN,NaN
118,07-07-2018,Russia,Croatia,2,38,13,7,4,2,6,...,1,0,0,No,31.0,Quarter Finals,Yes,3,NaN,NaN
119,07-07-2018,Croatia,Russia,2,62,17,3,10,4,8,...,4,0,0,Yes,39.0,Quarter Finals,Yes,4,NaN,NaN
120,10-07-2018,France,Belgium,1,40,19,5,8,6,4,...,2,0,0,Yes,51.0,Semi- Finals,No,0,NaN,NaN
121,10-07-2018,Belgium,France,0,60,9,3,5,1,5,...,3,0,0,No,NaN,Semi- Finals,No,0,NaN,NaN
122,11-07-2018,Croatia,England,2,54,22,7,11,4,8,...,2,0,0,Yes,68.0,Semi- Finals,No,0,NaN,NaN
123,11-07-2018,England,Croatia,1,46,11,1,6,4,4,...,1,0,0,No,5.0,Semi- Finals,No,0,NaN,NaN
124,14-07-2018,Belgium,England,2,43,12,4,3,5,4,...,1,0,0,Yes,4.0,3rd Place,No,0,NaN,NaN
125,14-07-2018,England,Belgium,0,57,15,5,7,3,5,...,2,0,0,No,NaN,3rd Place,No,0,NaN,NaN
126,15-07-2018,France,Croatia,4,39,8,6,1,1,2,...,2,0,0,Yes,18.0,Final,No,0,1.0,18.0
127,15-07-2018,Croatia,France,2,61,15,3,8,4,6,...,1,0,0,No,28.0,Final,No,0,NaN,NaN

## Combinando datasets

### concat y append

In [40]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
   

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])
frames = [df1, df2, df3]

In [41]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [42]:
pd.concat(frames)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [43]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                     index=[2, 3, 6, 7])
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [44]:
pd.concat([df1, df4], axis=1) # Concatenación horizontal

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [45]:
pd.concat([df1, df4], axis=1, join='inner') # Cambiando la forma de concatenar con join

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [46]:
df1.append(df2) # Append es otra forma de fácilmente concatenerar

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

### Merge

In [47]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})


right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})


pd.merge(left, right, on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [48]:
import numpy as np

## apply y map

### apply

In [49]:
usuarios_df = pd.DataFrame({'edad': [np.nan, 20, 41, 20],
                            'clics_por_hora': [156, np.nan, 210, 210]})
usuarios_df

   edad  clics_por_hora
0   NaN           156.0
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

In [50]:
import numpy as np
usuarios_df.apply(np.mean) # Se puede aplicar cualquier función que toma una fila o columna por entrada.

edad               27.0
clics_por_hora    192.0
dtype: float64

### applymap

In [51]:
usuarios_df.applymap(lambda x: x/2) # Se aplica elemento a elemento. En las series podemos usar directamente serie.map

   edad  clics_por_hora
0   NaN            78.0
1  10.0             NaN
2  20.5           105.0
3  10.0           105.0

## Missing values

### Filtrando valores faltantes

In [52]:
usuarios_df

   edad  clics_por_hora
0   NaN           156.0
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

In [53]:
usuarios_df.isna()

    edad  clics_por_hora
0   True           False
1  False            True
2  False           False
3  False           False

In [54]:
usuarios_df.dropna()  # Puede borrarse toda fila que contenga un NaN o solamente en las columnas que especificamos

   edad  clics_por_hora
2  41.0           210.0
3  20.0           210.0

In [55]:
usuarios_df.dropna(subset=['edad'])

   edad  clics_por_hora
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

In [56]:
copia_df = usuarios_df

In [57]:
usuarios_df

   edad  clics_por_hora
0   NaN           156.0
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

### Completando valores

In [58]:
copia_df['edad'].fillna(usuarios_df.edad.mean())

0    27.0
1    20.0
2    41.0
3    20.0
Name: edad, dtype: float64

In [59]:
copia_df.fillna(0)

   edad  clics_por_hora
0   0.0           156.0
1  20.0             0.0
2  41.0           210.0
3  20.0           210.0

In [60]:
copia_df

   edad  clics_por_hora
0   NaN           156.0
1  20.0             NaN
2  41.0           210.0
3  20.0           210.0

In [61]:

copia_df.fillna(usuarios_df.edad.mean(), inplace=True) # Podemos elegir con qué completar los valores faltantes.

In [62]:
copia_df

   edad  clics_por_hora
0  27.0           156.0
1  20.0            27.0
2  41.0           210.0
3  20.0           210.0

### Borrando duplicados

In [63]:
usuarios_df

   edad  clics_por_hora
0  27.0           156.0
1  20.0            27.0
2  41.0           210.0
3  20.0           210.0

In [64]:
usuarios_df.drop_duplicates(subset=['edad'], keep='first') # Se puede jugar con el first, last, etc. Y también elegir en qué columnas

   edad  clics_por_hora
0  27.0           156.0
1  20.0            27.0
2  41.0           210.0